iframe {
  display: none;
}

.navbar-item.is-active {
  font-weight: bolder;
}

.navbar-item .logo {
  display: block;
  box-sizing: border-box;
  width: 40px;
  max-height: 40px;
  object-fit: cover;
}
